In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from collections import Counter

In [3]:
#Evaluation Metrics
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix, roc_curve, roc_auc_score

In [95]:
import os

In [4]:
#Read the loans data
loans = pd.read_csv('lending-club-data/lending-club-data.csv')

/home/shrikrishna/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (19,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
loans.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,sub_grade_num,delinq_2yrs_zero,pub_rec_zero,collections_12_mths_zero,short_emp,payment_inc_ratio,final_d,last_delinq_none,last_record_none,last_major_derog_none
0,1077501,1296599,5000,5000,4975,36 months,10.65,162.87,B,B2,...,0.4,1.0,1.0,1.0,0,8.14350,20141201T000000,1,1,1
1,1077430,1314167,2500,2500,2500,60 months,15.27,59.83,C,C4,...,0.8,1.0,1.0,1.0,1,2.39320,20161201T000000,1,1,1
2,1077175,1313524,2400,2400,2400,36 months,15.96,84.33,C,C5,...,1.0,1.0,1.0,1.0,0,8.25955,20141201T000000,1,1,1
3,1076863,1277178,10000,10000,10000,36 months,13.49,339.31,C,C1,...,0.2,1.0,1.0,1.0,0,8.27585,20141201T000000,0,1,1
4,1075269,1311441,5000,5000,5000,36 months,7.90,156.46,A,A4,...,0.8,1.0,1.0,1.0,0,5.21533,20141201T000000,1,1,1

In [6]:
loans.shape

(122607, 68)

In [7]:
loans.iloc[-1:, :]

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,sub_grade_num,delinq_2yrs_zero,pub_rec_zero,collections_12_mths_zero,short_emp,payment_inc_ratio,final_d,last_delinq_none,last_record_none,last_major_derog_none
122606,9604874,11457002,2000,2000,2000,36 months,7.9,62.59,A,A4,...,0.8,0.0,1.0,1.0,0,0.904916,20170101T000000,0,1,1

## Missing Value Analysis

In [8]:
def find_missing(data):
    missing_count = data.isna().sum()
    missing_percentage = data.isna().sum()*100/data.shape[0]
    missing = pd.DataFrame({'Features': data.columns,
                            'Missing Count': missing_count,
                            'Missing Percentage': missing_percentage},
                             columns = ['Features', 'Missing Count',
                                     'Missing Percentage'])
    missing = missing.sort_values(by='Missing Count',
                                 ascending = False)
    missing = missing.set_index('Features')
    return missing

## Create a New Target - 'safe_loans'

In [9]:
#safe if not bad
#bad if not safe
loans['safe_loans'] = loans['bad_loans'].apply(lambda x: 1 if x==0 else -1)
loans.iloc[:5, -2:]

   last_major_derog_none  safe_loans
0                      1           1
1                      1          -1
2                      1           1
3                      1           1
4                      1           1

In [10]:
loans.loc[loans.bad_loans==1, :].shape

(23150, 69)

In [11]:
#The following should return an empty data frame
loans.loc[((loans.bad_loans==1) & (loans.safe_loans==1)) | \
         ((loans.bad_loans==0) & (loans.safe_loans==0))].head()

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, is_inc_v, issue_d, loan_status, pymnt_plan, url, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, not_compliant, status, inactive_loans, bad_loans, emp_length_num, grade_num, sub_grade_num, delinq_2yrs_zero, pub_rec_zero, collections_12_mths_zero, short_emp, payment_inc_ratio, final_d, last_delinq_none, last_record_none, last_major_derog_none, safe_loans]
Index: []

[0 rows x 69 columns]

In [12]:
if('bad_loans' in loans.columns):
    loans = loans.drop('bad_loans', axis=1)

In [13]:
'bad_loans' in loans.columns

False

In [14]:
#Percentage of risky and safe loans
risky = loans.loc[loans.safe_loans == -1, 'safe_loans']
safe = loans.loc[loans.safe_loans == 1, 'safe_loans']
print("Bad Loans percent:- %.2f\nSafe Loans percent:- %.2f"\
      %(risky.shape[0]*100/loans.shape[0], safe.shape[0]*100/loans.shape[0]))

Bad Loans percent:- 18.88
Safe Loans percent:- 81.12

In [15]:
risky.shape[0] + safe.shape[0] == loans.shape[0]

True

In [16]:
features = ['grade',                     # grade of the loan
            'sub_grade',                 # sub-grade of the loan
            'short_emp',                 # one year or less of employment
            'emp_length_num',            # number of years of employment
            'home_ownership',            # home_ownership status: own, mortgage or rent
            'dti',                       # debt to income ratio
            'purpose',                   # the purpose of the loan
            'term',                      # the term of the loan
            'last_delinq_none',          # has borrower had a delinquincy
            'last_major_derog_none',     # has borrower had 90 day or worse rating
            'revol_util',                # percent of available credit being used
            'total_rec_late_fee',        # total late fees received to day
           ]

target = 'safe_loans'                    # prediction target (y) (+1 means safe, -1 is risky)

In [17]:
# Extract the feature columns and target column
loans = loans[features + [target]]
#loans_new = loans_new[features + [target]]

In [18]:
np.unique(loans[target])

array([-1,  1])

In [19]:
features + [target]

['grade',
 'sub_grade',
 'short_emp',
 'emp_length_num',
 'home_ownership',
 'dti',
 'purpose',
 'term',
 'last_delinq_none',
 'last_major_derog_none',
 'revol_util',
 'total_rec_late_fee',
 'safe_loans']

In [20]:
find_missing(loans[features]).head()

                Missing Count  Missing Percentage
Features
grade                       0                 0.0
sub_grade                   0                 0.0
short_emp                   0                 0.0
emp_length_num              0                 0.0
home_ownership              0                 0.0

In [21]:
Counter(loans.safe_loans)

Counter({1: 99457, -1: 23150})

## Apply One Hot Encoding

In [22]:
from sklearn.preprocessing import OneHotEncoder as OHE

In [23]:
loans.dtypes.grade == 'int64'

False

In [24]:
#Find the categorical variables in loans data
categorical = [col for col in features \
               if(loans.dtypes[col] == 'object')]
categorical

['grade', 'sub_grade', 'home_ownership', 'purpose', 'term']

In [25]:
loans[categorical].head()

  grade sub_grade home_ownership         purpose        term
0     B        B2           RENT     credit_card   36 months
1     C        C4           RENT             car   60 months
2     C        C5           RENT  small_business   36 months
3     C        C1           RENT           other   36 months
4     A        A4           RENT         wedding   36 months

## One Hot Encoding

In [26]:
#print(pd.get_dummies(loans[categorical_features], prefix=None))
loans_temp = pd.DataFrame(pd.get_dummies(loans[categorical],\
                                         prefix=None))

#Append the dummy columns to the loans data
loans = pd.concat([loans, loans_temp], axis=1)

#Drop the categorical columns from the loans data
loans = loans.drop(categorical, axis=1)

In [27]:
#One Hot Encoded Columns
OHE_cols = list(loans_temp.columns)

In [28]:
OHE_cols

['grade_A',
 'grade_B',
 'grade_C',
 'grade_D',
 'grade_E',
 'grade_F',
 'grade_G',
 'sub_grade_A1',
 'sub_grade_A2',
 'sub_grade_A3',
 'sub_grade_A4',
 'sub_grade_A5',
 'sub_grade_B1',
 'sub_grade_B2',
 'sub_grade_B3',
 'sub_grade_B4',
 'sub_grade_B5',
 'sub_grade_C1',
 'sub_grade_C2',
 'sub_grade_C3',
 'sub_grade_C4',
 'sub_grade_C5',
 'sub_grade_D1',
 'sub_grade_D2',
 'sub_grade_D3',
 'sub_grade_D4',
 'sub_grade_D5',
 'sub_grade_E1',
 'sub_grade_E2',
 'sub_grade_E3',
 'sub_grade_E4',
 'sub_grade_E5',
 'sub_grade_F1',
 'sub_grade_F2',
 'sub_grade_F3',
 'sub_grade_F4',
 'sub_grade_F5',
 'sub_grade_G1',
 'sub_grade_G2',
 'sub_grade_G3',
 'sub_grade_G4',
 'sub_grade_G5',
 'home_ownership_MORTGAGE',
 'home_ownership_OTHER',
 'home_ownership_OWN',
 'home_ownership_RENT',
 'purpose_car',
 'purpose_credit_card',
 'purpose_debt_consolidation',
 'purpose_home_improvement',
 'purpose_house',
 'purpose_major_purchase',
 'purpose_medical',
 'purpose_moving',
 'purpose_other',
 'purpose_small_business',
 'purpose_vacation',
 'purpose_wedding',
 'term_ 36 months',
 'term_ 60 months']

In [90]:
OHE_cols

['grade_A',
 'grade_B',
 'grade_C',
 'grade_D',
 'grade_E',
 'grade_F',
 'grade_G',
 'sub_grade_A1',
 'sub_grade_A2',
 'sub_grade_A3',
 'sub_grade_A4',
 'sub_grade_A5',
 'sub_grade_B1',
 'sub_grade_B2',
 'sub_grade_B3',
 'sub_grade_B4',
 'sub_grade_B5',
 'sub_grade_C1',
 'sub_grade_C2',
 'sub_grade_C3',
 'sub_grade_C4',
 'sub_grade_C5',
 'sub_grade_D1',
 'sub_grade_D2',
 'sub_grade_D3',
 'sub_grade_D4',
 'sub_grade_D5',
 'sub_grade_E1',
 'sub_grade_E2',
 'sub_grade_E3',
 'sub_grade_E4',
 'sub_grade_E5',
 'sub_grade_F1',
 'sub_grade_F2',
 'sub_grade_F3',
 'sub_grade_F4',
 'sub_grade_F5',
 'sub_grade_G1',
 'sub_grade_G2',
 'sub_grade_G3',
 'sub_grade_G4',
 'sub_grade_G5',
 'home_ownership_MORTGAGE',
 'home_ownership_OTHER',
 'home_ownership_OWN',
 'home_ownership_RENT',
 'purpose_car',
 'purpose_credit_card',
 'purpose_debt_consolidation',
 'purpose_home_improvement',
 'purpose_house',
 'purpose_major_purchase',
 'purpose_medical',
 'purpose_moving',
 'purpose_other',
 'purpose_small_business',
 'purpose_vacation',
 'purpose_wedding',
 'term_ 36 months',
 'term_ 60 months']

In [91]:
features = ['grade',              # grade of the loan
            'term',               # the term of the loan
            'home_ownership',     # home_ownership status: own, mortgage or rent
            'emp_length',         # number of years of employment
           ]
assignment_2_cols = [col for col in OHE_cols \
                    if(col.startswith('grade') or\
                       col.startswith('term') or\
                       col.startswith('home_ownership') or\
                       col.startswith('emp_length'))]

In [92]:
assignment_2_cols

['grade_A',
 'grade_B',
 'grade_C',
 'grade_D',
 'grade_E',
 'grade_F',
 'grade_G',
 'home_ownership_MORTGAGE',
 'home_ownership_OTHER',
 'home_ownership_OWN',
 'home_ownership_RENT',
 'term_ 36 months',
 'term_ 60 months']

In [29]:
'safe_loans' in OHE_cols

False

In [30]:
set(loans.columns).intersection(set(categorical))

set()

In [31]:
numeric_features = list(set(features).difference(set(categorical)))
numeric_features

['last_major_derog_none',
 'emp_length_num',
 'revol_util',
 'total_rec_late_fee',
 'short_emp',
 'dti',
 'last_delinq_none']

In [32]:
loans[numeric_features + OHE_cols]

,last_major_derog_none,emp_length_num,revol_util,total_rec_late_fee,short_emp,dti,last_delinq_none,grade_A,grade_B,grade_C,...,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_small_business,purpose_vacation,purpose_wedding,term_ 36 months,term_ 60 months
0,1,11,83.70,0.00,0,27.65,1,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1,1,1,9.40,0.00,1,1.00,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2,1,11,98.50,0.00,0,8.72,1,0,0,1,...,0,0,0,0,0,1,0,0,1,0
3,1,11,21.00,16.97,0,20.00,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0
4,1,4,28.30,0.00,0,11.20,1,1,0,0,...,0,0,0,0,0,0,0,1,1,0
5,1,10,87.50,0.00,0,5.35,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6,1,5,32.60,0.00,0,5.55,1,0,0,0,...,0,0,0,0,0,1,0,0,0,1
7,1,1,36.50,0.00,1,18.08,1,0,1,0,...,0,0,0,0,1,0,0,0,0,1
8,1,6,20.60,0.00,0,16.12,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
9,1,11,67.10,0.00,0,10.78,1,0,1,0,...,0,0,0,0,0,0,0,0,1,0
10,1,1,91.70,0.00,1,10.08,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
11,1,4,43.10,0.00,0,12.56,1,0,1,0,...,0,0,0,0,0,0,0,0,1,0
12,1,4,55.50,0.00,0,7.06,1,0,1,0,...,0,0,0,0,1,0,0,0,1,0
13,1,1,81.50,0.00,1,20.31,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
14,1,5,70.20,0.00,0,18.60,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
15,1,11,16.00,0.00,0,10.52,1,1,0,0,...,0,1,0,0,0,0,0,0,1,0
16,1,2,37.73,15.00,0,18.44,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
17,1,7,23.10,0.00,0,9.86,1,1,0,0,...,0,0,0,0,0,0,0,0,1,0
18,1,11,90.30,0.00,0,13.22,1,0,1,0,...,0,0,0,0,0,0,0,0,1,0
19,1,11,82.40,0.00,0,11.18,1,0,1,0,...,0,0,0,0,0,0,0,0,1,0
20,1,6,91.80,0.00,0,16.01,1,0,1,0,...,0,0,0,0,0,0,0,0,1,0
21,1,2,29.70,0.00,0,2.40,1,0,1,0,...,0,1,0,0,0,0,0,0,1,0
22,1,3,93.90,0.00,0,29.44,1,0,1,0,...,0,0,0,0,0,0,0,0,1,0
23,1,10,57.60,0.00,0,15.22,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
24,1,3,59.50,0.00,0,13.97,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
25,1,11,37.70,0.00,0,5.63,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
26,1,1,59.10,0.00,1,12.19,1,0,1,0,...,0,0,0,0,0,0,0,0,1,0
27,1,8,86.90,0.00,0,20.34,1,1,0,0,...,0,0,0,0,0,0,0,0,1,0
28,1,6,27.40,0.00,0,14.03,1,1,0,0,...,0,0,0,0,0,0,0,0,1,0
29,1,3,29.30,0.00,0,11.93,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122577,1,11,48.00,0.00,0,13.95,1,1,0,0,...,0,0,0,0,0,0,0,0,1,0
122578,1,7,61.20,0.00,0,13.85,1,0,0,0,...,0,0,0,0,0,1,0,0,0,1
122579,1,9,59.20,0.00,0,9.63,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
122580,1,2,83.60,0.00,0,27.75,1,0,1,0,...,0,0,0,0,0,0,0,0,1,0
122581,1,1,46.70,0.00,1,15.60,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
122582,1,11,36.60,0.00,0,15.73,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
122583,1,1,0.00,0.00,1,18.09,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
122584,1,4,43.60,0.00,0,30.28,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
122585,1,7,51.60,0.00,0,23.58,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
122586,1,4,42.10,0.00,0,22.83,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
122587,1,9,64.70,0.00,0,11.48,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
122588,1,4,34.40,0.00,0,7.57,1,1,0,0,...,0,0,0,0,0,0,0,0,1,0
122589,1,11,69.80,0.00,0,7.13,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
122590,1,1,68.50,0.00,1,19.62,1,0,1,0,...,0,0,0,0,0,1,0,0,1,0
122591,1,4,71.20,0.00,0,14.02,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
122592,0,11,68.60,0.00,0,4.02,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
122593,0,11,84.30,0.00,0,11.23,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
122594,1,1,28.40,0.00,1,26.21,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
122595,1,11,29.80,0.00,0,7.21,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
122596,1,11,52.50,0.00,0,19.56,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
122597,1,11,57.00,0.00,0,23.90,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
122598,1,3,82.70,0.00,0,14.60,1,1,0,0,...,0,0,1,0,0,0,0,0,1,0
122599,0,11,94.10,0.00,0,26.27,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
122600,1,1,55.90,0.00,1,6.41,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
122601,1,5,29.50,0.00,0,18.69,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
122602,0,0,14.60,0.00,1,1.50,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
122603,0,11,15.20,0.00,0,11.26,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
122604,0,6,10.70,0.00,0,12.28,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
122605,1,11,46.30,0.00,0,18.45,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
122606,1,4,21.50,0.00,0,5.39,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0

In [33]:

set(loans.columns).intersection(set(numeric_features + OHE_cols)) == \
set(numeric_features + OHE_cols)

True

In [34]:
'safe_loans' in [numeric_features + OHE_cols]

False

In [35]:
train_index = pd.read_json('assignment-1-train-idx.json/assignment-1-train-idx.json')
valid_index = pd.read_json('assignment-1-validation-idx.json/assignment-1-validation-idx.json')

In [36]:
valid_index

           0
0         24
1         41
2         60
3         93
4        132
5        160
6        162
7        175
8        184
9        270
10       275
11       332
12       452
13       519
14       528
15       530
16       545
17       554
18       602
19       636
20       655
21       682
22       693
23       723
24       727
25       751
26       782
27       818
28       862
29       879
...      ...
9254  121762
9255  121784
9256  121839
9257  121863
9258  121905
9259  121919
9260  121936
9261  121948
9262  121965
9263  121976
9264  121983
9265  121986
9266  122002
9267  122037
9268  122111
9269  122114
9270  122133
9271  122140
9272  122219
9273  122225
9274  122232
9275  122254
9276  122282
9277  122331
9278  122335
9279  122390
9280  122419
9281  122445
9282  122461
9283  122480

[9284 rows x 1 columns]

In [37]:
train_index

            0
0           1
1           6
2           7
3          10
4          12
5          18
6          21
7          23
8          45
9          48
10         50
11         58
12         63
13         87
14         89
15        102
16        108
17        111
18        118
19        124
20        136
21        138
22        140
23        151
24        158
25        159
26        165
27        166
28        169
29        183
...       ...
37194  122433
37195  122436
37196  122454
37197  122458
37198  122465
37199  122473
37200  122484
37201  122489
37202  122494
37203  122498
37204  122500
37205  122501
37206  122505
37207  122506
37208  122513
37209  122520
37210  122525
37211  122531
37212  122538
37213  122544
37214  122552
37215  122553
37216  122558
37217  122561
37218  122569
37219  122572
37220  122575
37221  122588
37222  122599
37223  122603

[37224 rows x 1 columns]

In [38]:
#loans = loans[numeric_features + OHE_cols + '']

In [39]:
target

'safe_loans'

In [40]:
loans[numeric_features + OHE_cols + [target]]

,last_major_derog_none,emp_length_num,revol_util,total_rec_late_fee,short_emp,dti,last_delinq_none,grade_A,grade_B,grade_C,...,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_small_business,purpose_vacation,purpose_wedding,term_ 36 months,term_ 60 months,safe_loans
0,1,11,83.70,0.00,0,27.65,1,0,1,0,...,0,0,0,0,0,0,0,1,0,1
1,1,1,9.40,0.00,1,1.00,1,0,0,1,...,0,0,0,0,0,0,0,0,1,-1
2,1,11,98.50,0.00,0,8.72,1,0,0,1,...,0,0,0,0,1,0,0,1,0,1
3,1,11,21.00,16.97,0,20.00,0,0,0,1,...,0,0,0,1,0,0,0,1,0,1
4,1,4,28.30,0.00,0,11.20,1,1,0,0,...,0,0,0,0,0,0,1,1,0,1
5,1,10,87.50,0.00,0,5.35,1,0,0,0,...,0,0,0,0,0,0,0,1,0,1
6,1,5,32.60,0.00,0,5.55,1,0,0,0,...,0,0,0,0,1,0,0,0,1,-1
7,1,1,36.50,0.00,1,18.08,1,0,1,0,...,0,0,0,1,0,0,0,0,1,-1
8,1,6,20.60,0.00,0,16.12,1,0,0,1,...,0,0,0,0,0,0,0,0,1,1
9,1,11,67.10,0.00,0,10.78,1,0,1,0,...,0,0,0,0,0,0,0,1,0,1
10,1,1,91.70,0.00,1,10.08,1,0,0,1,...,0,0,0,0,0,0,0,1,0,-1
11,1,4,43.10,0.00,0,12.56,1,0,1,0,...,0,0,0,0,0,0,0,1,0,1
12,1,4,55.50,0.00,0,7.06,1,0,1,0,...,0,0,0,1,0,0,0,1,0,-1
13,1,1,81.50,0.00,1,20.31,1,0,0,0,...,0,0,0,0,0,0,0,1,0,1
14,1,5,70.20,0.00,0,18.60,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
15,1,11,16.00,0.00,0,10.52,1,1,0,0,...,1,0,0,0,0,0,0,1,0,1
16,1,2,37.73,15.00,0,18.44,0,0,1,0,...,0,1,0,0,0,0,0,1,0,1
17,1,7,23.10,0.00,0,9.86,1,1,0,0,...,0,0,0,0,0,0,0,1,0,1
18,1,11,90.30,0.00,0,13.22,1,0,1,0,...,0,0,0,0,0,0,0,1,0,-1
19,1,11,82.40,0.00,0,11.18,1,0,1,0,...,0,0,0,0,0,0,0,1,0,1
20,1,6,91.80,0.00,0,16.01,1,0,1,0,...,0,0,0,0,0,0,0,1,0,1
21,1,2,29.70,0.00,0,2.40,1,0,1,0,...,1,0,0,0,0,0,0,1,0,-1
22,1,3,93.90,0.00,0,29.44,1,0,1,0,...,0,0,0,0,0,0,0,1,0,1
23,1,10,57.60,0.00,0,15.22,1,0,0,1,...,0,0,0,0,0,0,0,1,0,-1
24,1,3,59.50,0.00,0,13.97,0,0,0,0,...,0,0,0,1,0,0,0,0,1,-1
25,1,11,37.70,0.00,0,5.63,0,0,1,0,...,0,0,0,0,0,0,0,1,0,1
26,1,1,59.10,0.00,1,12.19,1,0,1,0,...,0,0,0,0,0,0,0,1,0,1
27,1,8,86.90,0.00,0,20.34,1,1,0,0,...,0,0,0,0,0,0,0,1,0,1
28,1,6,27.40,0.00,0,14.03,1,1,0,0,...,0,0,0,0,0,0,0,1,0,1
29,1,3,29.30,0.00,0,11.93,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122577,1,11,48.00,0.00,0,13.95,1,1,0,0,...,0,0,0,0,0,0,0,1,0,1
122578,1,7,61.20,0.00,0,13.85,1,0,0,0,...,0,0,0,0,1,0,0,0,1,1
122579,1,9,59.20,0.00,0,9.63,0,0,1,0,...,0,0,0,0,0,0,0,1,0,1
122580,1,2,83.60,0.00,0,27.75,1,0,1,0,...,0,0,0,0,0,0,0,1,0,-1
122581,1,1,46.70,0.00,1,15.60,1,0,0,1,...,0,0,0,0,0,0,0,1,0,1
122582,1,11,36.60,0.00,0,15.73,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
122583,1,1,0.00,0.00,1,18.09,0,0,0,1,...,0,0,0,0,0,0,0,1,0,-1
122584,1,4,43.60,0.00,0,30.28,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
122585,1,7,51.60,0.00,0,23.58,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
122586,1,4,42.10,0.00,0,22.83,0,0,0,0,...,0,1,0,0,0,0,0,0,1,1
122587,1,9,64.70,0.00,0,11.48,1,0,0,1,...,0,0,0,0,0,0,0,0,1,-1
122588,1,4,34.40,0.00,0,7.57,1,1,0,0,...,0,0,0,0,0,0,0,1,0,1
122589,1,11,69.80,0.00,0,7.13,0,0,0,1,...,0,0,0,0,0,0,0,0,1,1
122590,1,1,68.50,0.00,1,19.62,1,0,1,0,...,0,0,0,0,1,0,0,1,0,-1
122591,1,4,71.20,0.00,0,14.02,1,0,0,1,...,0,0,0,0,0,0,0,0,1,1
122592,0,11,68.60,0.00,0,4.02,0,0,1,0,...,0,0,0,0,0,0,0,1,0,1
122593,0,11,84.30,0.00,0,11.23,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
122594,1,1,28.40,0.00,1,26.21,1,0,0,1,...,0,0,0,0,0,0,0,1,0,-1
122595,1,11,29.80,0.00,0,7.21,1,0,0,1,...,0,0,0,0,0,0,0,0,1,1
122596,1,11,52.50,0.00,0,19.56,0,0,0,0,...,0,0,0,0,0,0,0,1,0,-1
122597,1,11,57.00,0.00,0,23.90,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
122598,1,3,82.70,0.00,0,14.60,1,1,0,0,...,0,1,0,0,0,0,0,1,0,1
122599,0,11,94.10,0.00,0,26.27,0,0,0,0,...,0,1,0,0,0,0,0,0,1,1
122600,1,1,55.90,0.00,1,6.41,0,0,0,0,...,0,0,0,1,0,0,0,1,0,1
122601,1,5,29.50,0.00,0,18.69,0,0,1,0,...,0,0,0,0,0,0,0,1,0,-1
122602,0,0,14.60,0.00,1,1.50,0,0,0,0,...,0,1,0,0,0,0,0,0,1,-1
122603,0,11,15.20,0.00,0,11.26,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
122604,0,6,10.70,0.00,0,12.28,0,0,0,0,...,0,1,0,0,0,0,0,0,1,-1
122605,1,11,46.30,0.00,0,18.45,1,0,0,0,...,0,0,0,0,0,0,0,0,1,-1
122606,1,4,21.50,0.00,0,5.39,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1

In [41]:
train_data = loans.loc[train_index[0], numeric_features + OHE_cols + [target]]
validation_data = loans.loc[valid_index[0], numeric_features + OHE_cols + [target]]

In [96]:
train_data[assignment_2_cols + [target]].to_csv(os.getcwd() + '/train.csv')

In [97]:
validation_data[assignment_2_cols + [target]].to_csv(os.getcwd() + '/validation.csv')

In [98]:
train_data.shape

(37224, 68)

In [100]:
validation_data.shape

(9284, 68)

## Decision Tree Classifier

In [42]:
from sklearn.tree import DecisionTreeClassifier as DTC

In [43]:
help(DTC)

Help on class DecisionTreeClassifier in module sklearn.tree.tree:

class DecisionTreeClassifier(BaseDecisionTree, sklearn.base.ClassifierMixin)
 |  A decision tree classifier.
 |
 |  Read more in the :ref:`User Guide <tree>`.
 |
 |  Parameters
 |  ----------
 |  criterion : string, optional (default="gini")
 |      The function to measure the quality of a split. Supported criteria are
 |      "gini" for the Gini impurity and "entropy" for the information gain.
 |
 |  splitter : string, optional (default="best")
 |      The strategy used to choose the split at each node. Supported
 |      strategies are "best" to choose the best split and "random" to choose
 |      the best random split.
 |
 |  max_depth : int or None, optional (default=None)
 |      The maximum depth of the tree. If None, then nodes are expanded until
 |      all leaves are pure or until all leaves contain less than
 |      min_samples_split samples.
 |
 |  min_samples_split : int, float, optional (default=2)
 |      The minimum number of samples required to split an internal node:
 |
 |      - If int, then consider `min_samples_split` as the minimum number.
 |      - If float, then `min_samples_split` is a percentage and
 |        `ceil(min_samples_split * n_samples)` are the minimum
 |        number of samples for each split.
 |
 |      .. versionchanged:: 0.18
 |         Added float values for percentages.
 |
 |  min_samples_leaf : int, float, optional (default=1)
 |      The minimum number of samples required to be at a leaf node:
 |
 |      - If int, then consider `min_samples_leaf` as the minimum number.
 |      - If float, then `min_samples_leaf` is a percentage and
 |        `ceil(min_samples_leaf * n_samples)` are the minimum
 |        number of samples for each node.
 |
 |      .. versionchanged:: 0.18
 |         Added float values for percentages.
 |
 |  min_weight_fraction_leaf : float, optional (default=0.)
 |      The minimum weighted fraction of the sum total of weights (of all
 |      the input samples) required to be at a leaf node. Samples have
 |      equal weight when sample_weight is not provided.
 |
 |  max_features : int, float, string or None, optional (default=None)
 |      The number of features to consider when looking for the best split:
 |
 |          - If int, then consider `max_features` features at each split.
 |          - If float, then `max_features` is a percentage and
 |            `int(max_features * n_features)` features are considered at each
 |            split.
 |          - If "auto", then `max_features=sqrt(n_features)`.
 |          - If "sqrt", then `max_features=sqrt(n_features)`.
 |          - If "log2", then `max_features=log2(n_features)`.
 |          - If None, then `max_features=n_features`.
 |
 |      Note: the search for a split does not stop until at least one
 |      valid partition of the node samples is found, even if it requires to
 |      effectively inspect more than ``max_features`` features.
 |
 |  random_state : int, RandomState instance or None, optional (default=None)
 |      If int, random_state is the seed used by the random number generator;
 |      If RandomState instance, random_state is the random number generator;
 |      If None, the random number generator is the RandomState instance used
 |      by `np.random`.
 |
 |  max_leaf_nodes : int or None, optional (default=None)
 |      Grow a tree with ``max_leaf_nodes`` in best-first fashion.
 |      Best nodes are defined as relative reduction in impurity.
 |      If None then unlimited number of leaf nodes.
 |
 |  min_impurity_decrease : float, optional (default=0.)
 |      A node will be split if this split induces a decrease of the impurity
 |      greater than or equal to this value.
 |
 |      The weighted impurity decrease equation is the following::
 |
 |          N_t / N * (impurity - N_t_R / N_t * right_impurity
 |                              - N_t_L / N_t * left_impurity)
 |
 |      where ``N`` is the total number of samples, ``N_t`` is the number of
 |      samples at the current node, ``N_t_L`` is the number of samples in the
 |      left child, and ``N_t_R`` is the number of samples in the right child.
 |
 |      ``N``, ``N_t``, ``N_t_R`` and ``N_t_L`` all refer to the weighted sum,
 |      if ``sample_weight`` is passed.
 |
 |      .. versionadded:: 0.19
 |
 |  min_impurity_split : float,
 |      Threshold for early stopping in tree growth. A node will split
 |      if its impurity is above the threshold, otherwise it is a leaf.
 |
 |      .. deprecated:: 0.19
 |         ``min_impurity_split`` has been deprecated in favor of
 |         ``min_impurity_decrease`` in 0.19 and will be removed in 0.21.
 |         Use ``min_impurity_decrease`` instead.
 |
 |  class_weight : dict, list of dicts, "balanced" or None, default=None
 |      Weights associated with classes in the form ``{class_label: weight}``.
 |      If not given, all classes are supposed to have weight one. For
 |      multi-output problems, a list of dicts can be provided in the same
 |      order as the columns of y.
 |
 |      Note that for multioutput (including multilabel) weights should be
 |      defined for each class of every column in its own dict. For example,
 |      for four-class multilabel classification weights should be
 |      [{0: 1, 1: 1}, {0: 1, 1: 5}, {0: 1, 1: 1}, {0: 1, 1: 1}] instead of
 |      [{1:1}, {2:5}, {3:1}, {4:1}].
 |
 |      The "balanced" mode uses the values of y to automatically adjust
 |      weights inversely proportional to class frequencies in the input data
 |      as ``n_samples / (n_classes * np.bincount(y))``
 |
 |      For multi-output, the weights of each column of y will be multiplied.
 |
 |      Note that these weights will be multiplied with sample_weight (passed
 |      through the fit method) if sample_weight is specified.
 |
 |  presort : bool, optional (default=False)
 |      Whether to presort the data to speed up the finding of best splits in
 |      fitting. For the default settings of a decision tree on large
 |      datasets, setting this to true may slow down the training process.
 |      When using either a smaller dataset or a restricted depth, this may
 |      speed up the training.
 |
 |  Attributes
 |  ----------
 |  classes_ : array of shape = [n_classes] or a list of such arrays
 |      The classes labels (single output problem),
 |      or a list of arrays of class labels (multi-output problem).
 |
 |  feature_importances_ : array of shape = [n_features]
 |      The feature importances. The higher, the more important the
 |      feature. The importance of a feature is computed as the (normalized)
 |      total reduction of the criterion brought by that feature.  It is also
 |      known as the Gini importance [4]_.
 |
 |  max_features_ : int,
 |      The inferred value of max_features.
 |
 |  n_classes_ : int or list
 |      The number of classes (for single output problems),
 |      or a list containing the number of classes for each
 |      output (for multi-output problems).
 |
 |  n_features_ : int
 |      The number of features when ``fit`` is performed.
 |
 |  n_outputs_ : int
 |      The number of outputs when ``fit`` is performed.
 |
 |  tree_ : Tree object
 |      The underlying Tree object.
 |
 |  Notes
 |  -----
 |  The default values for the parameters controlling the size of the trees
 |  (e.g. ``max_depth``, ``min_samples_leaf``, etc.) lead to fully grown and
 |  unpruned trees which can potentially be very large on some data sets. To
 |  reduce memory consumption, the complexity and size of the trees should be
 |  controlled by setting those parameter values.
 |
 |  The features are always randomly permuted at each split. Therefore,
 |  the best found split may vary, even with the same training data and
 |  ``max_features=n_features``, if the improvement of the criterion is
 |  identical for several splits enumerated during the search of the best
 |  split. To obtain a deterministic behaviour during fitting,
 |  ``random_state`` has to be fixed.
 |
 |  See also
 |  --------
 |  DecisionTreeRegressor
 |
 |  References
 |  ----------
 |
 |  .. [1] https://en.wikipedia.org/wiki/Decision_tree_learning
 |
 |  .. [2] L. Breiman, J. Friedman, R. Olshen, and C. Stone, "Classification
 |         and Regression Trees", Wadsworth, Belmont, CA, 1984.
 |
 |  .. [3] T. Hastie, R. Tibshirani and J. Friedman. "Elements of Statistical
 |         Learning", Springer, 2009.
 |
 |  .. [4] L. Breiman, and A. Cutler, "Random Forests",
 |         http://www.stat.berkeley.edu/~breiman/RandomForests/cc_home.htm
 |
 |  Examples
 |  --------
 |  >>> from sklearn.datasets import load_iris
 |  >>> from sklearn.model_selection import cross_val_score
 |  >>> from sklearn.tree import DecisionTreeClassifier
 |  >>> clf = DecisionTreeClassifier(random_state=0)
 |  >>> iris = load_iris()
 |  >>> cross_val_score(clf, iris.data, iris.target, cv=10)
 |  ...                             # doctest: +SKIP
 |  ...
 |  array([ 1.     ,  0.93...,  0.86...,  0.93...,  0.93...,
 |          0.93...,  0.93...,  1.     ,  0.93...,  1.      ])
 |
 |  Method resolution order:
 |      DecisionTreeClassifier
 |      BaseDecisionTree
 |      abc.NewBase
 |      sklearn.base.BaseEstimator
 |      sklearn.base.ClassifierMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, criterion='gini', splitter='best', max_depth=None, min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features=None, random_state=None, max_leaf_nodes=None, min_impurity_decrease=0.0, min_impurity_split=None, class_weight=None, presort=False)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit(self, X, y, sample_weight=None, check_input=True, X_idx_sorted=None)
 |      Build a decision tree classifier from the training set (X, y).
 |
 |      Parameters
 |      ----------
 |      X : array-like or sparse matrix, shape = [n_samples, n_features]
 |          The training input samples. Internally, it will be converted to
 |          ``dtype=np.float32`` and if a sparse matrix is provided
 |          to a sparse ``csc_matrix``.
 |
 |      y : array-like, shape = [n_samples] or [n_samples, n_outputs]
 |          The target values (class labels) as integers or strings.
 |
 |      sample_weight : array-like, shape = [n_samples] or None
 |          Sample weights. If None, then samples are equally weighted. Splits
 |          that would create child nodes with net zero or negative weight are
 |          ignored while searching for a split in each node. Splits are also
 |          ignored if they would result in any single class carrying a
 |          negative weight in either child node.
 |
 |      check_input : boolean, (default=True)
 |          Allow to bypass several input checking.
 |          Don't use this parameter unless you know what you do.
 |
 |      X_idx_sorted : array-like, shape = [n_samples, n_features], optional
 |          The indexes of the sorted training input samples. If many tree
 |          are grown on the same dataset, this allows the ordering to be
 |          cached between trees. If None, the data will be sorted here.
 |          Don't use this parameter unless you know what to do.
 |
 |      Returns
 |      -------
 |      self : object
 |          Returns self.
 |
 |  predict_log_proba(self, X)
 |      Predict class log-probabilities of the input samples X.
 |
 |      Parameters
 |      ----------
 |      X : array-like or sparse matrix of shape = [n_samples, n_features]
 |          The input samples. Internally, it will be converted to
 |          ``dtype=np.float32`` and if a sparse matrix is provided
 |          to a sparse ``csr_matrix``.
 |
 |      Returns
 |      -------
 |      p : array of shape = [n_samples, n_classes], or a list of n_outputs
 |          such arrays if n_outputs > 1.
 |          The class log-probabilities of the input samples. The order of the
 |          classes corresponds to that in the attribute `classes_`.
 |
 |  predict_proba(self, X, check_input=True)
 |      Predict class probabilities of the input samples X.
 |
 |      The predicted class probability is the fraction of samples of the same
 |      class in a leaf.
 |
 |      check_input : boolean, (default=True)
 |          Allow to bypass several input checking.
 |          Don't use this parameter unless you know what you do.
 |
 |      Parameters
 |      ----------
 |      X : array-like or sparse matrix of shape = [n_samples, n_features]
 |          The input samples. Internally, it will be converted to
 |          ``dtype=np.float32`` and if a sparse matrix is provided
 |          to a sparse ``csr_matrix``.
 |
 |      check_input : bool
 |          Run check_array on X.
 |
 |      Returns
 |      -------
 |      p : array of shape = [n_samples, n_classes], or a list of n_outputs
 |          such arrays if n_outputs > 1.
 |          The class probabilities of the input samples. The order of the
 |          classes corresponds to that in the attribute `classes_`.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __abstractmethods__ = frozenset()
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from BaseDecisionTree:
 |
 |  apply(self, X, check_input=True)
 |      Returns the index of the leaf that each sample is predicted as.
 |
 |      .. versionadded:: 0.17
 |
 |      Parameters
 |      ----------
 |      X : array_like or sparse matrix, shape = [n_samples, n_features]
 |          The input samples. Internally, it will be converted to
 |          ``dtype=np.float32`` and if a sparse matrix is provided
 |          to a sparse ``csr_matrix``.
 |
 |      check_input : boolean, (default=True)
 |          Allow to bypass several input checking.
 |          Don't use this parameter unless you know what you do.
 |
 |      Returns
 |      -------
 |      X_leaves : array_like, shape = [n_samples,]
 |          For each datapoint x in X, return the index of the leaf x
 |          ends up in. Leaves are numbered within
 |          ``[0; self.tree_.node_count)``, possibly with gaps in the
 |          numbering.
 |
 |  decision_path(self, X, check_input=True)
 |      Return the decision path in the tree
 |
 |      .. versionadded:: 0.18
 |
 |      Parameters
 |      ----------
 |      X : array_like or sparse matrix, shape = [n_samples, n_features]
 |          The input samples. Internally, it will be converted to
 |          ``dtype=np.float32`` and if a sparse matrix is provided
 |          to a sparse ``csr_matrix``.
 |
 |      check_input : boolean, (default=True)
 |          Allow to bypass several input checking.
 |          Don't use this parameter unless you know what you do.
 |
 |      Returns
 |      -------
 |      indicator : sparse csr array, shape = [n_samples, n_nodes]
 |          Return a node indicator matrix where non zero elements
 |          indicates that the samples goes through the nodes.
 |
 |  predict(self, X, check_input=True)
 |      Predict class or regression value for X.
 |
 |      For a classification model, the predicted class for each sample in X is
 |      returned. For a regression model, the predicted value based on X is
 |      returned.
 |
 |      Parameters
 |      ----------
 |      X : array-like or sparse matrix of shape = [n_samples, n_features]
 |          The input samples. Internally, it will be converted to
 |          ``dtype=np.float32`` and if a sparse matrix is provided
 |          to a sparse ``csr_matrix``.
 |
 |      check_input : boolean, (default=True)
 |          Allow to bypass several input checking.
 |          Don't use this parameter unless you know what you do.
 |
 |      Returns
 |      -------
 |      y : array of shape = [n_samples] or [n_samples, n_outputs]
 |          The predicted classes, or the predict values.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from BaseDecisionTree:
 |
 |  feature_importances_
 |      Return the feature importances.
 |
 |      The importance of a feature is computed as the (normalized) total
 |      reduction of the criterion brought by that feature.
 |      It is also known as the Gini importance.
 |
 |      Returns
 |      -------
 |      feature_importances_ : array, shape = [n_features]
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : boolean, optional
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : mapping of string to any
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      The method works on simple estimators as well as on nested objects
 |      (such as pipelines). The latter have parameters of the form
 |      ``<component>__<parameter>`` so that it's possible to update each
 |      component of a nested object.
 |
 |      Returns
 |      -------
 |      self
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.BaseEstimator:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.ClassifierMixin:
 |
 |  score(self, X, y, sample_weight=None)
 |      Returns the mean accuracy on the given test data and labels.
 |
 |      In multi-label classification, this is the subset accuracy
 |      which is a harsh metric since you require for each sample that
 |      each label set be correctly predicted.
 |
 |      Parameters
 |      ----------
 |      X : array-like, shape = (n_samples, n_features)
 |          Test samples.
 |
 |      y : array-like, shape = (n_samples) or (n_samples, n_outputs)
 |          True labels for X.
 |
 |      sample_weight : array-like, shape = [n_samples], optional
 |          Sample weights.
 |
 |      Returns
 |      -------
 |      score : float
 |          Mean accuracy of self.predict(X) wrt. y.

In [44]:
class Modelling():
    def __init__(self, X_train, y_train, X_val, y_val, model):
        self.X_train = X_train
        self.y_train = y_train
        self.X_val = X_val
        self.y_val = y_val
        self.model = model
    
    def evaluate(self, predicted):
        CM = confusion_matrix(self.y_val, predicted)
        print("Confusion Matrix:-\n")
        
        print(CM)
        return (accuracy_score(self.y_val, predicted))
        
    def prediction(self):
        self.model.fit(self.X_train, self.y_train)
        
        prediction = self.model.predict(self.X_val)
        
        print("Accuracy Score:-%.2f\n" %(self.evaluate(prediction)))

In [45]:
X_train, y_train = train_data.iloc[:, :-1], train_data.iloc[:, -1]
X_val, y_val = validation_data.iloc[:, :-1], validation_data.iloc[:, -1]
model = Modelling(X_train, y_train, X_val, y_val, decision_tree_model)

NameError: name 'decision_tree_model' is not defined

In [87]:
def evaluate(actual, predicted):
    CM = confusion_matrix(actual, predicted)
    
    print("Confusion Matrix:-\n")

    print(CM)
    tn, fp, fn, tp = CM.ravel() 
    print("TN:-%d\nFP:-%d\nFN:-%d\nTP:-%d\n" %(tn, fp, fn, tp))
    
    print("Accuracy:-\n")
    return (accuracy_score(actual, predicted))

In [47]:
def prediction(model, X, y):
    model.fit(X, y)
    predicted = model.predict(X)
    
    evaluate(model, y, predicted)

### decision_tree_model - Model with depth=6

In [48]:
decision_tree_model = DTC(max_depth=6)

In [49]:
y_train

1        -1
6        -1
7        -1
10       -1
12       -1
18       -1
21       -1
23       -1
45       -1
48       -1
50       -1
58       -1
63       -1
87       -1
89       -1
102      -1
108      -1
111      -1
118      -1
124      -1
136      -1
138      -1
140      -1
151      -1
158      -1
159      -1
165      -1
166      -1
169      -1
183      -1
         ..
122433    1
122436    1
122454    1
122458    1
122465    1
122473    1
122484    1
122489    1
122494    1
122498    1
122500    1
122501    1
122505    1
122506    1
122513    1
122520    1
122525    1
122531    1
122538    1
122544    1
122552    1
122553    1
122558    1
122561    1
122569    1
122572    1
122575    1
122588    1
122599    1
122603    1
Name: safe_loans, Length: 37224, dtype: int64

Confusion Matrix:-

[[3013 1661]
 [1717 2893]]
Accuracy Score:-0.64

In [51]:
decision_tree_model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=6,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

## First, let's grab 2 positive examples and 2 negative examples from the Validation Set.

In [52]:
validation_safe_loans = validation_data[validation_data['safe_loans']==1]
validation_risky_loans = validation_data[validation_data['safe_loans']==-1]

sample_validation_data_risky = validation_risky_loans.iloc[:2, :]
sample_validation_data_safe = validation_safe_loans.iloc[:2, :]

sample_validation_data = pd.concat([sample_validation_data_safe,\
                                    sample_validation_data_risky], axis = 0)

In [53]:
sample_validation_data.head()

,last_major_derog_none,emp_length_num,revol_util,total_rec_late_fee,short_emp,dti,last_delinq_none,grade_A,grade_B,grade_C,...,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_small_business,purpose_vacation,purpose_wedding,term_ 36 months,term_ 60 months,safe_loans
19,1,11,82.4,0.0,0,11.18,1,0,1,0,...,0,0,0,0,0,0,0,1,0,1
79,1,10,96.4,0.0,0,16.85,1,0,0,0,...,0,0,0,0,0,0,0,1,0,1
24,1,3,59.5,0.0,0,13.97,0,0,0,0,...,0,0,0,1,0,0,0,0,1,-1
41,1,11,62.1,0.0,0,16.33,1,1,0,0,...,0,0,0,0,0,0,0,1,0,-1

## Prediction using the trained model on 'sample validation data'

In [54]:
def validation_results(model):
    sample_validation_prediction = model.predict(
                                             sample_validation_data.iloc\
                                             [:, :-1])
    
    probability = model.predict_proba(sample_validation_data.iloc[:, :-1])
    
    unsafe_probability = [prob[0] for prob in probability]
    safe_probability = [prob[1] for prob in probability]

    sample_validation_result = pd.DataFrame({'Actual':\
                                             sample_validation_data['safe_loans'],
                                         'Predicted':\
                                             sample_validation_prediction,
                                         'Probability Unsafe':\
                                             unsafe_probability,
                                         'Probability Safe':\
                                             safe_probability},
                                        columns = ['Actual', 'Predicted',
                                                   'Probability Unsafe', 
                                                   'Probability Safe'])
    return (sample_validation_result)

### decision_tree_model

In [55]:
decision_tree_model = DTC(max_depth=6)

In [56]:
decision_tree_model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=6,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [57]:
#Results on sampled validation data
validation_results(decision_tree_model)

    Actual  Predicted  Probability Unsafe  Probability Safe
19       1          1            0.341565          0.658435
79       1         -1            0.536306          0.463694
24      -1         -1            0.647510          0.352490
41      -1          1            0.207895          0.792105

### Accuracy - Training Data

In [88]:
predicted_train_decision_tree = decision_tree_model.predict(X_train)
print(evaluate(predicted_train_decision_tree, y_train))

Confusion Matrix:-

[[11708  6613]
 [ 6768 12135]]
TN:-11708
FP:-6613
FN:-6768
TP:-12135

Accuracy:-

0.6405276165914464

In [73]:
np.round(0.6405276165914464, 2)

0.64

### Accuracy - Validation Data

In [89]:
predicted_val_decision_tree = decision_tree_model.predict(X_val)
np.round(evaluate(predicted_val_decision_tree, y_val), 2)

Confusion Matrix:-

[[3013 1717]
 [1661 2893]]
TN:-3013
FP:-1717
FN:-1661
TP:-2893

Accuracy:-

0.64

In [83]:
help(confusion_matrix)

Help on function confusion_matrix in module sklearn.metrics.classification:

confusion_matrix(y_true, y_pred, labels=None, sample_weight=None)
    Compute confusion matrix to evaluate the accuracy of a classification

    By definition a confusion matrix :math:`C` is such that :math:`C_{i, j}`
    is equal to the number of observations known to be in group :math:`i` but
    predicted to be in group :math:`j`.

    Thus in binary classification, the count of true negatives is
    :math:`C_{0,0}`, false negatives is :math:`C_{1,0}`, true positives is
    :math:`C_{1,1}` and false positives is :math:`C_{0,1}`.

    Read more in the :ref:`User Guide <confusion_matrix>`.

    Parameters
    ----------
    y_true : array, shape = [n_samples]
        Ground truth (correct) target values.

    y_pred : array, shape = [n_samples]
        Estimated targets as returned by a classifier.

    labels : array, shape = [n_classes], optional
        List of labels to index the matrix. This may be used to reorder
        or select a subset of labels.
        If none is given, those that appear at least once
        in ``y_true`` or ``y_pred`` are used in sorted order.

    sample_weight : array-like of shape = [n_samples], optional
        Sample weights.

    Returns
    -------
    C : array, shape = [n_classes, n_classes]
        Confusion matrix

    References
    ----------
    .. [1] `Wikipedia entry for the Confusion matrix
           <https://en.wikipedia.org/wiki/Confusion_matrix>`_

    Examples
    --------
    >>> from sklearn.metrics import confusion_matrix
    >>> y_true = [2, 0, 2, 2, 0, 1]
    >>> y_pred = [0, 0, 2, 2, 0, 2]
    >>> confusion_matrix(y_true, y_pred)
    array([[2, 0, 0],
           [0, 0, 1],
           [1, 0, 2]])

    >>> y_true = ["cat", "ant", "cat", "cat", "ant", "bird"]
    >>> y_pred = ["ant", "ant", "cat", "cat", "ant", "cat"]
    >>> confusion_matrix(y_true, y_pred, labels=["ant", "bird", "cat"])
    array([[2, 0, 0],
           [0, 0, 1],
           [1, 0, 2]])

    In the binary case, we can extract true positives, etc as follows:

    >>> tn, fp, fn, tp = confusion_matrix([0, 1, 0, 1], [1, 1, 1, 0]).ravel()
    >>> (tn, fp, fn, tp)
    (0, 2, 1, 1)

## Quiz Question:- What is the total cost of mistakes made by decision_tree_model on validation_data? Please enter your answer as a plain integer, without the dollar sign or the comma separator, e.g. 3002000.

Assume a cost of $10,000 per false negative.

Assume a cost of $20,000 per false positive.

In [84]:
fn, fn_cost = 1661, 10000
fp, fp_cost = 1717, 20000
print("Total Cost = %d" %((fn * fn_cost) + (fp * fp_cost)))

Total Cost = 50950000

### small model Model with depth=2

In [60]:
small_model = DTC(max_depth=2)

In [61]:
small_model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=2,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [62]:
#Results on sampled validation data
validation_results(small_model)

    Actual  Predicted  Probability Unsafe  Probability Safe
19       1          1            0.418966          0.581034
79       1         -1            0.592553          0.407447
24      -1         -1            0.592553          0.407447
41      -1          1            0.231201          0.768799

### Accuracy - Training Data

In [79]:
predicted_train_small = small_model.predict(X_train)
np.round(evaluate(predicted_train_small, y_train), 2)

Confusion Matrix:-

[[12980  8891]
 [ 5496  9857]]
Accuracy:-

0.61

### Accuracy - Validation Data

In [80]:
predicted_val_small = small_model.predict(X_val)
np.round(evaluate(predicted_val_small, y_val), 2)

Confusion Matrix:-

[[3342 2202]
 [1332 2408]]
Accuracy:-

0.62

Confusion Matrix:-

[[3342 2202]
 [1332 2408]]
Accuracy:-

0.6193451098664369

## Evaluating accuracy of a complex decision tree model
Big Model with max_depth=10

In [65]:
big_model = DTC(max_depth=10)

In [66]:
big_model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=10,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [67]:
#Results on sampled validation data
validation_results(big_model)

    Actual  Predicted  Probability Unsafe  Probability Safe
19       1          1            0.367673          0.632327
79       1         -1            0.710526          0.289474
24      -1         -1            0.644295          0.355705
41      -1          1            0.219677          0.780323

### Accuracy - Training Data

In [81]:
predicted_train_big = big_model.predict(X_train)
np.round(evaluate(predicted_train_big, y_train), 2)

Confusion Matrix:-

[[12482  6523]
 [ 5994 12225]]
Accuracy:-

0.66

### Accuracy - Validation Data

In [82]:
predicted_val_big = big_model.predict(X_val)
np.round(evaluate(predicted_val_big, y_val), 2)

Confusion Matrix:-

[[3031 1818]
 [1643 2792]]
Accuracy:-

0.63

### Quiz Question: How does the performance of big_model on the validation set compare to decision_tree_model on the validation set? Is this a sign of overfitting?

In [71]:
print("big_model Accuracy is %.2f\ndecision_tree_model accuracy is %.2f"\
     %(62.72, 63.61))

big_model Accuracy is 62.72
decision_tree_model accuracy is 63.61